*{
  margin: 0 auto;
  padding: 0;
}
body{
  margin: 0 auto;
}
ul, li{
  list-style: none;
  display: inline;
}
a{
  text-decoration: none;
}
.des1 img.content_image_left{
  position: absolute;
  top: 10px;
  left: 10px;
}
.des2 img.content_image_right{
  position: absolute;
  top: 10px;
  right: 10px;
}
table{
  border-collapse: collapse;
  width: 1920px;
}
td{
  padding: 0;
}
.table_backGround1, .table_backGround2, .table_img3{
  width: 960px;
  height: 575px;
}
.table_img1, .table_img2{
  width: 480px;
  height: 575px;
  background-color: RGB(18, 49, 50);
}
.table_img3{
  background-color: RGB(252, 253, 255);
}
.table_backGround1{
  background-color: RGB(252, 253, 255);
}
.table_backGround2{
  background-color: RGB(18, 49, 50);
}
#wrap, #header, #footer{
  width: 1920px
}
#header{
  position: relative;
  height: 950px;
  overflow: hidden;
}
#container{
  width: 1920px;
  height: 3600px;
  margin: 20px 0 0 0;
  padding-top: 100px;
  position: relative;
  background-image: url(image/container1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#footer{
  position: relative;
  height: 100px;
  background-color: RGB(44, 42, 43);
  margin-top: 20px;
}
#container .des1, #container .des2{
  border: 1px solid rgba(217, 217, 217, 0.7);
  position: relative;
  height: 400px;
  width: 900px;
  margin-top: 150px;
  margin-bottom: 450px;
  background-color: rgba(217, 217, 217, 0.7);
}
#container .des2{
  left: 810px;
}
#container .des1{
  left: 100px;
}
.description1{
  position: absolute;
  top: 25px;
  right: 30px;
  width: 520px;
  height: 350px;
}
.description1 p{
  margin-top: 30px;
  line-height: 40px;
}
.description2{
  position: absolute;
  top: 25px;
  left: 50px;
  width: 520px;
  height: 350px;
}
.description2 p{
  margin-top: 30px;
  line-height: 50px;
}
.des1 img.content_image_left{
  position: absolute;
  top: 25px;
  left: 25px;
}
.des2 img.content_image_right{
  position: absolute;
  top: 25px;
  right: 25px;
}
.menu_bar{
  position: absolute;
  bottom: 0;
  width: inherit;
  font-weight: bold;
}
.menu_bar .dep1{
  font-size: 0;
  padding: 0;
}
.menu_bar .dep1 > li{
  display: inline-block;
  width: calc(1920px / 3);
  vertical-align: bottom;
  background: #454545;
  color: white;
  font-size: 16px;
  text-align: center;
}
.menu_bar .dep1 > li:hover > .dep2 {
  display: block;
}
.menu_bar .dep1 > li > a{
  display: block;
  padding: 10px 0;
}
.menu_bar .dep2{
  display: none;
}
.menu_bar .dep2 a{
  display: block;
  padding: 10px 0;
}
.menu_bar .dep2 a:hover{
  transition: linear .2s;
  text-decoration: underline;
}
.menu_bar .dep1 .dep2 li a:hover{
  background-color: green;
}
.menu_bar .dep1 .dep2 li a:link{
  color: white;
}
.menu_bar .dep1 .dep2 li a:visited{
  color: white;
}
.menu_bar .dep1 .dep2 + a:hover{
  background-color: green;
  transition: linear .2s;
}
.menu_bar .dep1 .dep2 + a:visited{
  color: white;
}
.menu_bar .dep1 .dep2 + a:link{
color: white;
}
.footer_inner{
  margin: 0 auto;
  text-align: center;
  color: white;
}
#go_top{
  width:50px;
  height:50px;
  padding:0;
  line-height: 50px;;
  display: block;
  background: RGB(103, 147, 172);
  color: #000000;
  font-size: 12px;
  border-radius: 25px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999999;
}
.header_slidewrap input[id*="slide"]{
  display: none;
  margin-top: 10px;
}
.header_slidewrap .slide-wrap{
  max-width: inherit;
  min-height: 900px;
  margin:0 auto;
}
.header_slidewrap .slidelist{
  white-space:nowrap;
  font-size:0;
  overflow:hidden;
}
.header_slidewrap .slidelist > li{
  display:inline-block;
  vertical-align:middle;
  width:100%;
  transition:all .5s;
}
.header_slidewrap .slidelist > li > a{
  display:block;
  position:relative;
}
.header_slidewrap .slidelist > li > a img{
  width: 100%;
  height: 950px;
}
.header_slidewrap .slidelist label{
  position:absolute;
  z-index:10;
  top:50%;
  transform:translateY(-50%);
  padding:50px;
  cursor:pointer;
}
.header_slidewrap .slidelist .left{
  left:30px;
  background:url('image/left.png') center center / 100% no-repeat;
}
.header_slidewrap .slidelist .right{
  right:30px;
  background:url('image/right.png') center center / 100% no-repeat;
}
.header_slidewrap .slidelist .textbox{
  position:absolute;
  z-index:1;
  top:10%;
  left:10%;
  line-height:1.6;
  text-align:center;
}
.header_slidewrap .slidelist .textbox h3{
  font-size:50px;
  color:#fff;
  opacity:0;
  transform:translateY(30px);
  transition:all .5s;
}
.header_slidewrap .slidelist .textbox p{
  font-size:24px;
  color:#fff;
  opacity:0;
  transform:translateY(30px);
  transition:all .5s;
}
.header_slidewrap input[id="slide01"]:checked ~ .slide-wrap .slidelist > li{
  transform:translateX(0%);
}
.header_slidewrap input[id="slide02"]:checked ~ .slide-wrap .slidelist > li{
  transform:translateX(-100%);
}
.header_slidewrap input[id="slide03"]:checked ~ .slide-wrap .slidelist > li{
  transform:translateX(-200%);
}
.header_slidewrap input[id="slide01"]:checked ~ .slide-wrap li:nth-child(1) .textbox h3{
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}
.header_slidewrap input[id="slide01"]:checked ~ .slide-wrap li:nth-child(1) .textbox p{
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}
.header_slidewrap input[id="slide02"]:checked ~ .slide-wrap li:nth-child(2) .textbox h3{
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}
.header_slidewrap input[id="slide02"]:checked ~ .slide-wrap li:nth-child(2) .textbox p{
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}
.header_slidewrap input[id="slide03"]:checked ~ .slide-wrap li:nth-child(3) .textbox h3{
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}
.header_slidewrap input[id="slide03"]:checked ~ .slide-wrap li:nth-child(3) .textbox p{
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}
.des1{
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}
.des2{
  opacity: 0;
  margin-left: 300px;
  max-width: 100%;
}
.textbox h3 {
  text-shadow: 5px 5px #000000;
  color: #F1C164;
}
.textbox p {
  text-shadow: 2px 2px  #000000;
  color: #F1C164;
}
